body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

.header{
    background:#ff5722;
    color:white;
    text-align:center;
    padding:20px;
}

#search{
    width:90%;
    padding:12px;
    border:none;
    border-radius:8px;
    margin-top:10px;
}

.category{
    display:flex;
    gap:10px;
    overflow-x:auto;
    padding:10px;
    background:white;
}

.category button{
    background:#ff5722;
    color:white;
    border:none;
    padding:10px 16px;
    border-radius:20px;
    width:auto;
}

#menu{
    padding:15px;
}

.food-card{
    background:white;
    border-radius:12px;
    padding:15px;
    margin-bottom:15px;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
}

.food-card button{
    background:#28a745;
    color:white;
    border:none;
    padding:12px;
    width:100%;
    border-radius:8px;
}

#cart{
    background:white;
    padding:15px;
    margin-top:20px;
    border-radius:12px;
}
